services:
	-
		class: CodeIgniter3\PHPStan\ConfigReturnTypeResolver
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension
#	-
#		class: CodeIgniter3\PHPStan\ModelLoaderTypeResolver
#		tags:
#			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
